# Ignore the folders #
######################
/datasets
/.ipynb_checkpoints
*.hdf5
*.h5
*.json

# Ignore these files #
######################
*.bmp
*.a
*.o
*.lib
*.avi
*.exe
*.mp4
*.dbc
*.avi
*.zip
*.csv
*.backup
*.sdf
*.7z
*.mat
*.fig
*.dat
*.idx
*.db
.ipynb_checkpoints
.viminfo
*.gitconfig
*.asv
*.autosave
#.*
*.mex*
~*.*
*.hex
*.cdl
*.suo
*.log
*.opensdf
Debug.xml

DEBUG/
RELEASE/
Debug/
Release/
*.dir

imgs
vehicles
non-vehicles
*.jpg
*.png
*.zip